<footer class="page__footer">
  <a href="http://gifgifs.com/" title="http://gifgifs.com"
    ><img
      src="http://gifgifs.com//animations/food-drinks/salted-snacks/Pretzel.gif"
      alt="http://gifgifs.com"
  /></a>

  <small class="footer__copy">
    &copy; Todos los derechos reservados: Mercedes Carballal
  </small>
  <a href="http://gifgifs.com/" title="http://gifgifs.com"
    ><img
      src="http://gifgifs.com//animations/food-drinks/salted-snacks/Popcorn.gif"
      alt="http://gifgifs.com"
  /></a>
</footer>
