<hero class="page__hero">
  <form action="" method="" class="form-search" id="form-search">
    <label for="serie-search"
      >Introduce el nombre de la serie molona que andas buscando:</label
    >
    <div class="container-search-block">
      <div class="container-search">
        <input
          type="search"
          name="serie-search"
          class="input js-input-search"
          placeholder="Vikings"
        />
        <button type="submit" class="search-btn js-button-search">
          <i class="fas fa-search"></i>
        </button>
        <button class="js-log-btn">LOG</button>
      </div>
      <span class="eyes">👀</span>
    </div>
  </form>
</hero>
