<main class="page__main">
  <div class="container_series">
    <h2>Series</h2>
    <p class="error js-error-message"></p>
    <ul class="list-series js-list-series"></ul>
  </div>
  <div class="container-icons">
    <img
      src="http://gifgifs.com//animations/food-drinks/salted-snacks/Pretzel.gif"
      alt="http://gifgifs.com"
      title="http://gifgifs.com"
    />
    <img
      src="http://gifgifs.com//animations/food-drinks/salted-snacks/Popcorn.gif"
      alt="http://gifgifs.com"
      title="http://gifgifs.com"
    />
  </div>
</main>
