<main class="page__main">
  <div class="container">
    <form action="" method="" class="form-search" id="form-search">
      <label for="serie-search">Nombre de la serie:</label>
      <input
        type="text"
        name="serie-search"
        class="js-input-search"
        placeholder="Vikings"
      />
      <button type="submit" class="js-button-search">Buscar</button>
    </form>
    <section class="section-favorites">
      <div class="favorites">
        <h3>Mis series favoritas</h3>
        <ul class="list-favorites"></ul>
      </div>
    </section>
  </div>
  <section class="section-series">
    <div class="series">
      <h3>Series</h3>
      <ul class="js-list-series"></ul>
    </div>
  </section>
</main>
