// fonts
$font-main: 'Roboto', sans-serif;
$font-secondary: 'Allerta Stencil', sans-serif;
$font-tertiary: 'Patrick Hand', cursive;
// colors
$color-white: #f3f4f5;
$color-secondary: #999;
$color-font: rgb(77, 47, 4);
