.page__header {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: $font-secondary;
  font-size: 30px;
  letter-spacing: 5px;
}
