.page__hero {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  .form-search {
    label {
      display: block;
      margin-bottom: 5px;
    }
    .container-search-block {
      display: flex;
      justify-content: center;
      align-items: center;
      .container-search {
        border: 1px solid $color-font;
        border-radius: 6px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 350px;
        .input {
          text-align: center;
          border: none;
          background: none;
          color: $color-font;
          width: 100%;
          outline: none;
          height: 30px;
          &::placeholder {
            color: transparentize($color-font, 0.3);
          }
          & {
          }
        }
        input:focus,
        textarea:focus {
          background-color: $color-card;
          border-radius: 5px;
        }
        .search-btn {
          padding: 6px;
          border-radius: 5px;
          border: none;
          background-color: transparent;
          outline: none;
        }
      }
      .eyes {
        font-size: 25px;
        margin-left: 5px;
        padding-bottom: 3px;
      }
    }
  }
}
