.page__main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: flex-start;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  .form-search {
    margin-bottom: 30px;
    grid-column: span 1;

    label {
      display: block;
    }
  }
  .section-favorites {
    grid-column: span 1;
  }
}
.section-items {
  grid-column: span 2;
}
